# Ignore build output
dist
build

# Ignore dependencies
node_modules

# Ignore lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignore test coverage output
coverage

# Ignore compiled files
*.min.js
*.bundle.js

# Ignore all dotfiles
.*.js

# Ignore env and config files
.env
.env.*
config.js

# Ignore JSON configs
*.json
!.prettierrc.json  # Negation: keep this one if needed
